<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IntervalTime" value="100"></add>
    <add key="ComputQueueName" value="cydev-q-eng-001"></add>
    <add key="OutputQueueName" value="cydev-q-res-001"></add>
    <add key="StorageAccountName" value="cydevdatagen2"></add>
    <add key="StorageAccountKey" value="1jnIDcief2mTFN4aXdgWxgvB/+ygbMLJ8FqBEic4FaL2YgrtPAE023a0Jkcq9sng3b6P4/95Zy17LYAXKOiF3w=="></add>
    <add key="DataLakeUri" value="https://cydevdatagen2.dfs.core.windows.net/"></add>
    <add key="DataLakeDirectoryName" value="test-file-upload"></add>
  </appSettings>
</configuration>
